/* Bookmark section */

.bookmark-section{
    margin: 2% 3%;
}

/* Main-Section */

.main{
    display: flex;
    margin:5% 0;
    width: 100%;
}

/* Posts section */

.posts-content{
   
    flex:2;
    display: flex;
    background-color: #F8F9FA;
    flex-direction: column;
    margin:0 3%;
    
}
.posts-header{
   
    margin: auto;
    margin-top: 2%;
    padding-left: 40%;
    width: 100%;
    
}

.post-theme{
    margin: 2% 3%;
   
    
}
/* 
Search Bar section */

.search{
    display: flex;
    margin: 2% 3%;
    flex-direction: column;
}
.search-users{
    background-color: #F8F9FA;
    padding: 2% 3%;
}
.space
{
    height: 40px;
    width: 100%;
}